<!DOCTYPE html>
<html lang="en" ng-app="internship">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="myCss.css" rel="stylesheet">

    <script type="text/javascript" src="node_modules/angular/angular.js"></script>

    <script>
      angular.module("internship", []);
    </script>

    <script type="text/javascript" src="app/Controllers/internshipController.js"></script>



    <title>Form</title>
</head>

<!--
ng-model binds data from html element to angular in controller
ng-show displays a expression if the ng attribute returns true
$pristine is untouched
$dirty is touched
ng-disabled disables a html element if the ng attribute returns true
ng-hide hides a html element if the ng atrributes returns true
ng-click defines angular code that will be executed when element is clicked (example a function)
{{expression}}


-->



<body ng-controller="internshipController">

<div class="container">
    <div class="row">


        <div class="col-xs-12" style="margin-top: 2%; margin-bottom: 5%">
            <img class="logoImage" src="http://www.kea.dk/fileadmin/templates/img/lille_logo.png">
        </div>


            <div class="col-xs-12 box" style="margin-bottom: 5%">
           <h5> Praktikbesøgsrapport</h5>
            </div>



        <form novalidate name="internshipForm" ng-submit="saveInternship()">

        <div class="col-xs-12">
            <label> <span style="color: red; font-size: 20px"> *</span> Hvad er dine KEA initialer // Your KEA initials</label>

        </div>

        <div class="col-xs-12">
            <label class="underLabel">Indtast KUN dine initialer (ikke hele din e-mail adresse) // ONLY your initials (not your e-mail)
            </label>
        </div>

        <div class="col-xs-12" style="margin-bottom: 1%;">


            <input type="text" required ng-model="internship.initials" name="initials">

             <span style="color: red" ng-show="internshipForm.initials.$error.required && internshipForm.$submitted">
                    This field is required
                </span>

        </div>





        <div class="col-xs-12">
            <label><span style="color: red; font-size: 20px"> *</span> Besøgsdato // Visit date</label>

        </div>

        <div class="col-xs-12">
            <label class="underLabel">Bemærk format: MM/DD/YY // Notice format: MM/DD/YY</label>
        </div>

        <div class="col-xs-12" style="margin-bottom: 1%;">

            <input type="text" required ng-model="internship.visitDate" name="visitDate">

             <span style="color: red" ng-show="internshipForm.visitDate.$error.required && internshipForm.$submitted">
                    This field is required
                </span>

        </div>





        <div class="col-xs-12">
            <label><span style="color: red; font-size: 20px"> *</span> Navn på den studerende du har besøgt // Name of the student you visited
            </label>

        </div>

        <div class="col-xs-12" style="margin-bottom: 1%;">

            <input type="text" required ng-model="internship.studentVisited" name="studentVisited">

             <span style="color: red" ng-show="internshipForm.studentVisited.$error.required && internshipForm.$submitted">
                    This field is required
                </span>
        </div>






        <div class="col-xs-12">
            <label>
                ID på den studerendes Praktikaftale // ID of internship agreement
            </label>

        </div>

        <div class="col-xs-12" style="margin-bottom: 1%;">
            <input type="text">

        </div>





        <div class="col-xs-12">
            <label>
                <span style="color: red; font-size: 20px"> *</span> Virksomhed du har besøgt // Company you visited
            </label>

        </div>

        <div class="col-xs-12" style="margin-bottom: 1%;">
            <input type="text" required ng-model="internship.companyVisited" name="companyVisited">

             <span style="color: red" ng-show="internshipForm.companyVisited.$error.required && internshipForm.$submitted">
                    This field is required
                </span>
        </div>




        <div class="col-xs-12">
            <label>
                <span style="color: red; font-size: 20px"> *</span> Person(er) du holdt møde med hos virksomheden // Name(s) of the persons you met at the company
            </label>

        </div>

        <div class="col-xs-12" style="margin-bottom: 1%;">
            <input type="text" required ng-model="internship.personsVisited" name="personsVisited">

             <span style="color: red" ng-show="internshipForm.personsVisited.$error.required && internshipForm.$submitted">
                    This field is required
                </span>

        </div>




        <div class="col-xs-12">
            <label>
                Virksomhedens syn på markedstrends // Company's thoughts on market trends
            </label>

        </div>

        <div class="col-xs-12">
            <label class="underLabel">Maks. 1.000 tegn // Max 1.000 characters
            </label>
        </div>


        <div class="col-xs-12" style="margin-bottom: 1%;">
            <textarea></textarea>

        </div>





        <div class="col-xs-12">
            <label>
                Virksomhedens kompetencebehov // Company's competence needs
            </label>

        </div>

        <div class="col-xs-12">
            <label class="underLabel">Maks. 1.000 tegn // Max 1.000 characters
            </label>
        </div>


        <div class="col-xs-12" style="margin-bottom: 1%;">
            <textarea></textarea>
        </div>





        <div class="col-xs-12">
            <label>
                Den studerendes kompetencer // Students's competencies
            </label>

        </div>

        <div class="col-xs-12">
            <label class="underLabel">Maks. 1.000 tegn // Max 1.000 characters
            </label>
        </div>


        <div class="col-xs-12" style="margin-bottom: 1%;">
            <textarea></textarea>
        </div>





        <div class="col-xs-12">
            <label>
                Samarbejdsmuligheder // Cooperation opportunities with company
            </label>

        </div>

        <div class="col-xs-12">
            <label class="underLabel">Maks. 1.000 tegn // Max 1.000 characters
            </label>
        </div>


        <div class="col-xs-12" style="margin-bottom: 1%;">
            <textarea></textarea>
        </div>





        <div class="col-xs-12">
            <label>
                Eventuelt // Miscellaneous
            </label>

        </div>

        <div class="col-xs-12">
            <label class="underLabel">Maks. 1.000 tegn // Max 1.000 characters
            </label>
        </div>


        <div class="col-xs-12" style="margin-bottom: 1%;">
            <textarea></textarea>
        </div>






        <div class="col-xs-12" style="margin-bottom: 2%;">
            <input type="submit" value="Send rapport to Kea CRM">
        </div>

        </form>




    </div>

</div>




</body>
</html>